@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
  --line-border-empty: #e0e0e0;
  --line-border-fill: #9ae3e6;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', 'sans-serif';
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;

  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 400px;
}

.progress-container::before {
  content: ' ';
  background-color: var(--line-border-empty);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  z-index: -1;
  transform: translateY(-50%);
}
.progress {
  background-color: var(--line-border-fill);
  width: 0%;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  z-index: -1;
  transform: translateY(-50%);
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border: 3px solid var(--line-border-fill);
  color: black;
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  outline: none;
  border-radius: 6px;
  padding: 8px 30px;
  cursor: pointer;
  margin: 5px;
  font-size: 14px;
  font-family: inherit;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

.btn:active {
  transform: scale(0.98);
}
